@model string

<p>
  The FreeText data type allows for the free form entry of words and sentences required by the user.
  This field is validated and encoded, when required, to help ensure security and attempt to prevent malicious
  entries from harming our application or our users. By default, FreeText is limited to 255 characters, but can be 
  limited on a resource-by-resource basis. Most users treat FreeText as a string.
</p>

