.swagger-section #header {
  background-color: #00B7F1;
}



.swagger-section #explore,
.swagger-section #auth_container .authorize__btn {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 8px;
  font-size: 0.9em;
  color: white;
  background-color: #000E4E;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.swagger-section #explore:hover,
.swagger-section #auth_container .authorize__btn:hover {
    background-color: #000E4E;
}

