<?xml version="1.0"?>
<log4net version="2.0">
  <renderer renderingClass="Perigee.GlobalErrorHandling.AsmxExceptionContainerRenderer" renderedClass="Perigee.GlobalErrorHandling.AsmxExceptionContainer" />
  <appender name="RollingLogFileAppender" type="RPCore.log4RP.RollingFileAppenderWithMaxFileAge">
    <file type="log4net.Util.PatternString" value="..\\..\\Log\\WfmEssApi\\WfmEssApiLog-%processid.txt" />
    <maxAgeInDays value="30" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <lockingModel type="log4net.Appender.FileAppender+ExclusiveLock" />
    <preserveLogFileNameExtension value="true"/>
    <layout type="log4net.Layout.PatternLayout">
    </layout>
  </appender>
  <root>
    <level value="ERROR" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>